<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Dashboard</title>
  </head>
  <body>
    <h1>Dashboard</h1>
    <div>
      <h3>Configuration</h3>
      <a href="config/new">New</a>
      <a href="config">View</a>
    </div>
    <div>
      <h3>Product Tags</h3>
      <a href="product_tags/new">New</a>
      <a href="product_tags">View</a>
    </div>
  </body>
</html>
